* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  width: 500px;
  height: 500px;
  background: rgb(133, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
align-items: center;
}
div {
  width: 100px;
  height: 100px;
  background: crimson;
  border: 1px solid white;
}
